<form action='/get' method='get'>

  Task to get:<input type='text' name='task'>

  <button><%= 'Get task' %></button>

</form>


<br>Your task is: <%= @task_got %>

<br>What would you like to amend?


<ul>
<% @results.each do |result| %>
<li><%= result['task'] %></li>
<%end%>
</ul>

