<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>You dO</title>
  <link rel='stylesheet' href='/style.css'>
</head>

<body>
  <div class="page">
    <header>
      <h1> You dO</h1>
    </header>

    <div class="sidebar">
      <nav>
        <h3>Task menu</h3>
        <ul>
          <li><a href='/list'>List of tasks</a></li>
          <li><a href='/create'>Create a task</a></li>
          <li><a href='/get'>Get a task</a></li>
          <li><a href='/update'>Update a task</a></li>
          <li><a href='/delete'>Delete a task</a></li>
        </ul>
      </nav>
    </div>

    <section>
      <h3>Task actions</h3>
      <%= yield %>
    </section>

    <footer>
      <p>The best way to do since you did</p>
    </footer>
  </div>
</body>
</html>
